.analog .clock {
    background: -webkit-radial-gradient(#000000, #000000 0.1em, #ffffff 0.1em, #ffffff), #fff;
    display: inline-block;
    border-radius: 50%;
    padding-bottom: 100%;
    top: 50%;
    position: relative;
    opacity: 0;
}

.analog .clock.show {
    opacity: 1;

    -webkit-transition: all 2.5s 0.5s cubic-bezier(0.12, 1.03, 0.34, 1);
    transition: all 2.5s 0.5s cubic-bezier(0.12, 1.03, 0.34, 1);
    background: url(./Clock.svg) no-repeat center;
    width: 100%;
    height: 100%;
}

.analog .clock::after {
    background: red;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 2%;
    height: 2%;
    z-index: 10;
}

.analog .clock:before {
    background: #fff;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 6%;
    height: 6%;
    z-index: 0;
}

.analog .clock .hours {
    background: #fff;
    width: 2%;
    height: 20%;
    position: absolute;
    left: 49%;
    top: 30%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 85%/10%;
    color: transparent;
}

.analog .clock .minutes {
    background: #fff;
    width: 2%;
    height: 35%;
    position: absolute;
    left: 49%;
    top: 15%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 150%/10%;
    color: transparent;
}

.analog .clock .seconds {
    background: red;
    width: 1.5%;
    position: absolute;
    z-index: 8;
    border-radius: 200%/10%;
    height: 30%;
    left: 49.5%;
    top: 20%;
    width: 1%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    color: transparent;
}

.digital .clock {
    color: #fff;
    font-size: 3em;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

.digital .hours {
    float: left;
}

.digital .hours::after{
    content: ":"
}

.digital .minutes {
    float: left;
}

.digital .minutes::after{
    content: ":"
}

.digital .seconds {
    float: left;
}

.DateView {
    color: #fff;
    font-size: 2em;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

